/* Responsive styles */
@media (min-width: 460px) {
  #main-navbar {
    height: 6rem;
  }
  .upper-header {
    height: 2rem;
    font-size: 1.2rem;
  }
  .tagline {
    display: flex;
    align-items: center;
    margin: 0.4rem 0 0;
    gap: 0 0.6rem;
  }
  .tagline img {
    width: 1.5rem;
  }
  #search-input {
    font-size: 1.25rem;
  }
  .header-category--container.open-menu {
    width: 50vw;
  }
  .result-inner--container .title-section {
    font-size: 1.5rem;
    margin: 0 0 1rem;
  }
  .result-inner--container .title-section .resultsFounded {
    font-weight: 800;
    font-size: 1.2rem;
  }
  .heroSection {
    margin: 8.2rem auto 0.5rem;
    height: 30rem;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 4rem;
  }
  .heroSubHeading {
    font-size: 1.6rem;
  }
  .heroMainHeading {
    width: 26rem;
    font-size: 3.5rem;
  }
  .heroBottomHeading {
    font-size: 1.5rem;
    margin: 0 0 0.8rem;
  }
  .btn {
    padding: 0.8rem 3rem;
    font-size: 1.6rem;
    border-radius: 3rem;
  }
  .icon-container:nth-child(2) {
    display: flex;
    margin: 0 2rem 0 0;
  }
  .icon-container {
    line-height: 1.2;
    width: 15rem;
    font-size: 1.2rem;
  }
  .icon-container img {
    width: 3.5rem;
  }
  .selling-section .heading {
    font-size: 1.8rem;
    margin: 0 0 3rem;
  }
  .short-products--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 0.5rem;
  }
  .product-card {
    height: 25rem;
    max-width: 20rem;
  }
  .product-card .product-title {
    font-size: 1.22rem;
  }
  .stars i {
    font-size: 1.2rem;
  }
  .ratingCount {
    margin: 0 1rem 0 0.5rem;
    font-size: 1.4rem;
  }
  .originalPrice {
    font-size: 1.3rem;
  }
  .discountPrice {
    font-size: 1.5rem;
  }
  .discountPercentage {
    font-size: 1.2rem;
  }
  .addToCart-container {
    height: 2.6rem;
  }
  .addToCart-container button {
    font-size: 1.3rem;
  }
  .addToCart-container input {
    width: 4rem;
    font-size: 1.3rem;
  }
  .wishlist-container {
    font-size: 1.3rem;
  }
  .mini-banner {
    width: 49.5%;
    height: 20rem;
  }
  .page--category-container .category .category-image--container {
    height: 10rem;
    width: 10rem;
  }
  .upper-footer {
    margin: 0 0 0 5rem;
  }
}

@media (min-width: 650px) {
  ::-webkit-scrollbar {
    display: block;
  }
  #main-navbar {
    height: 7rem;
  }
  .logo {
    font-size: 2.6rem;
  }
  .upper-header {
    font-size: 1.2rem;
  }
  .tagline img {
    width: 1.4rem;
  }
  #search-input {
    font-size: 1.3rem;
  }
  .header-category--container.open-menu {
    width: 40vw;
  }
  .result-inner--container .title-section {
    font-size: 1.5rem;
    margin: 0 0 1rem;
  }
  .result-inner--container .title-section .resultsFounded {
    font-size: 1.3rem;
  }
  .heroSection {
    margin: 9.1rem auto 0.5rem;
    height: 35rem;
  }
  .heroSubHeading {
    font-size: 1.6rem;
  }
  .heroMainHeading {
    width: 26rem;
    font-size: 3.5rem;
  }
  .heroBottomHeading {
    font-size: 1.5rem;
    margin: 0 0 0.8rem;
  }
  .btn {
    padding: 0.5rem 3rem;
    font-size: 1.6rem;
    border-radius: 3rem;
  }
  .icons-section {
    height: 7rem;
    gap: 1.2rem;
  }
  .icon-container {
    width: 18rem;
    font-size: 1.3rem;
  }
  .icon-container img {
    width: 4rem;
  }
  .selling-section .heading {
    font-size: 2rem;
  }
  .short-products--container {
    grid-template-columns: repeat(4, 1fr);
  }
  .mini-banner {
    width: 49.5%;
    height: 20rem;
  }
  .page--category-container .category .category-image--container {
    height: 13rem;
    width: 13rem;
  }
  .upper-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
}
@media (min-width: 768px) {
  :root {
    --max-width: 97%;
  }
  #main-navbar {
    height: 6rem;
  }
  .menu-containaer,
  .header-category--container {
    display: none;
  }
  .upperHeader-navbar {
    display: flex;
    font-size: 11px;
  }
  .upperHeader-navbar li a{
    transition: all 300ms ease;
  }
  .upperHeader-navbar li a:hover {
    color: #b2ced6;
  }
  .header-categories {
    height: 2rem;
    background: #E8E8E8;
    overflow: hidden;
    transition: all 300ms ease; 
  }
  .header-categories.active {
    height: 0;
  }
  .header-category-ul {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 12px;
    gap: 15px;
  }
  .header-category-ul li a {
    transition: all 300ms ease; 
  }
  .header-category-ul li a:hover {
    color: #751FFF;
  }
  .logo-search--container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    gap: 4rem;
    justify-content: flex-start;
  }
  .logo {
    font-size: 3.5rem;
  }
  .search-container {
    width: 50%;
    height: 3rem;
    margin: 5px 0 0;
  }
  #search-input {
    padding: 0 0 0 12px;
  }
  .header-icons {
    height: 100%;
    display: flex;
    gap: 2rem;
  }
  .header-icons a {
    font-size: 12px;
    gap: 5px;
  }
  .wishlist {
    display: block;
  }
  .header-icons .cartCount {
    font-size: 10px;
  }
  .header-icons img {
    width: 2.4rem;
  }
  .user-info--container, .cart-wishlist--container {
    position: static;
  }
  .cart-wishlist--container .wishlist {
    display: flex;
  }
}