/* * ********FONT FAMILY******** * */
@font-face {
  font-family: "Segoe UI Historic";
  src: url("../assets/font-family/Segoe%20UI%20Historic.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* * ********ROOTELEMENT******** * */
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-trans: transparent;
  --color-light-e-gray: #F0F2F5;
  --color-02-blue: #3C6BFD;
  --off-white-e1: #F2F2F2;
  --color-light-gray: #E2E5E9;
  --color-s-light-gray: #cfcfcf;
  --color-off-white: #f0f0f0;
  --color-sE-gray: #b1b1b1;
  --color-c8-gray :#65686C;
  
  

  --font-family: "Segoe UI Historic", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


  --transition-100ms: all 100ms ease;
  --transition-200ms: all 200ms ease;
  --transition-300ms: all 300ms ease;


  --max-page-width: 1400px;

  --box-shadow-1: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* * ********DEFAULT STYLES******** * */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
dl,
ol,
li { list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6 { line-height: 1.2; }

input,
textarea,
button {
  border: none;
  outline: none;
  font-family: var(--font-family);
}

button { cursor: pointer; }

a {
  text-decoration: none;
  color: inherit;
}

picture,
img,
video {
  width: 100%;
  object-fit: cover;
  display: block;
  height: auto;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body {
  line-height: 1.7;
  color: var(--color-black);
  background-color: var(--color-off-white);
}

/* * ********PREBUILD CONTAINER******** * */

/* * ********HEADER******** * */
#main-header {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: var(--box-shadow-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 0;
}

/* * ********HEADER SEARCH & LOGO******** * */
.logo-search--section {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 0 0 0 15px;
  height: 100%;
}
.logo {
  width: 40px;
}
.search-container {
  display: flex;
  align-items: center;
  width: 240px;
  height: 40px;
  background-color: var(--color-light-gray);
  border-radius: 20px;
  padding: 5px 10px;
  z-index: 10;
}
#main-search--input {
  width: 100%;
  background-color: var(--color-trans);
  font-size: 15px;
  padding: 6px 7px 8px;
}
.search-icon--container img {
  width: 16px;
}

/* * ********HEADER NAVBAR******** * */
.navbar {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 5px;
  margin: 0 135px 0 0;
}
.nav-item {
  width: 129.5px;
  height: 85%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: var(--transition-300ms);
  cursor: pointer;
}
.nav-item:hover {
  background-color: var(--color-light-gray);
}
.nav-item:nth-child(1) {
  height: 100%;
  border-bottom: 4px solid var(--color-02-blue);
  border-radius: 2px;
}
.nav-item:nth-child(1):hover {
  background: none;
}
.nav-item--link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-icon {
  width: 24px;
}

/* * ********HEADER MENUS******** * */
.header-menus--section {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-link--container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-s-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition-300ms);
}
.header-link--container:hover {
  background-color: var(--color-sE-gray);
}
.header-link--container img {
  width: 20px;
}
.header-link--container:last-child img {
  width: 100%;
  border-radius: 50%;
}
/* * ********HEADER END HERE******** * */

/* * ********HEADER JS ELEMENTS******** * */
.search-result--container {
  position: absolute;
  background: var(--color-white);
  box-shadow: var(--box-shadow-1);
  left: 0;
  top: 0;
  height: 0;
  overflow: hidden;
  width: 320px;
  border-radius: 5px;
}
.search-result--container.active {
  height: fit-content;
}
.search-result--container .inner-container {
  padding: 8px 13px;
  height: 100%;
  width: 100%;
} 
.back-icon--container {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: var(--transition-300ms);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-icon--container:hover {
  background-color: var(--color-light-gray);
}
.back-icon--container img {
  width: 20px;
}
.results-container {
  margin: 17px 0 0;
}
.results-container p {
  text-align: center;
  color: var(--color-c8-gray);
}