/* * ********FONT FAMILY******** * */
@font-face {
  font-family: "Segoe UI Historic";
  src: url("../assets/font-family/Segoe%20UI%20Historic.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* * ********ROOTELEMENT******** * */
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-trans: transparent;
  --color-light-e-gray: #F0F2F5;
  --color-02-blue: #3C6BFD;
  --off-white-e1: #F2F2F2;
  --color-light-gray: #E2E5E9;
  --color-s-light-gray: #cfcfcf;
  --color-off-white: #f0f0f0;
  --color-sE-gray: #b1b1b1;
  --color-c8-gray :#65686C;
  --color-link-blue: #3160C7;
  --color-3-black: #303131;
  --color-d7-gray: #D7D9DD;
  
  

  --font-family: "Segoe UI Historic", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


  --transition-100ms: all 100ms ease;
  --transition-200ms: all 200ms ease;
  --transition-300ms: all 300ms ease;


  --max-page-width: 1400px;

  --box-shadow-1: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --box-shadow-2: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* * ********DEFAULT STYLES******** * */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
dl,
ol,
li { list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6 { line-height: 1.2; }

input,
textarea,
button {
  border: none;
  outline: none;
  font-family: var(--font-family);
}

button { cursor: pointer; }

a {
  text-decoration: none;
  color: inherit;
}

picture,
img,
video {
  width: 100%;
  object-fit: cover;
  display: block;
  height: auto;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body {
  line-height: 1.7;
  color: var(--color-black);
  background-color: var(--color-off-white);
}

/* * ********Loading Screen******** * */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--color-off-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  transition: var(--transition-300ms);
  z-index: 100000000;
}
.loading.active {
  display: none;
}
.loading .logo-container {
  height: 87%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .logo-container img {
  width: 70px;
}
.loading .meta-logo--section {
  color: #646464;
  text-align: center;
}
.loading .meta-logo {
  width: 90px;
  margin: -15px 0 0 0;

}
/* * ********HEADER******** * */
#main-header {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: var(--box-shadow-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 0 0;
  background-color: var(--color-white);
}

/* * ********HEADER SEARCH & LOGO******** * */
.logo-search--container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 12px;
  gap: 8px;
  position: relative;
}
.logo {
  width: 40px;
}
.main-search--container {
  width: 240px;
  height: 40px;
  background-color: var(--color-light-e-gray);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  z-index: 10;
}
.main-search--icon {
  width: 17px;
}
#main-search--input {
  padding: 0 5px;
  background-color: var(--color-trans);
  font-size: 16px;
  padding: 6px 7px 8px;
  width: 100%;
}

/* * ********Search Result JS Container******** * */
.main-search--result---js {
  position: absolute;
  background: var(--color-white);
  top: 0;
  width: 300px;
  box-shadow: var(--box-shadow-1);
  transition: var(--transition-300ms);
  overflow: hidden;
  height: 0;
  border-radius: 10px;
  left: 0;
}
.main-search--result---js.active {
  width: 320px;
  min-height: 100%;
  height: fit-content;
}
.main-search--inner---js {
  padding: 8px 3px;
}
.main-back--button---js {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: var(--transition-300ms);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-back--button---js:hover {
  background: var(--color-light-e-gray);
}
.main-back--button---js img {
  width: 18px;
}
.search-results--founded---js {
  margin: 8px 0 0;
  padding: 0 5px;
}
.main-search--result---js .title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px;
  margin: 8px 0 0;
}
.main-search--result---js .title-section .heading {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: .2px;
}
.main-search--result---js .title-section .link-container {
  padding: 1px 8px;
  border-radius: 5px;
  cursor: pointer;
}
.main-search--result---js .title-section .link-container:hover {
  background: var(--color-light-e-gray);
}
.main-search--result---js .title-section a {
  font-size: 15px;
  color: var(--color-link-blue);
}
.norecentsearches {
  color: var(--color-c8-gray);
  text-align: center;
}
.founded-result--js {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-radius: 8px;
  margin: 0 0 8px;
  transition: var(--transition-300ms);
  padding: 0 8px;
  cursor: pointer;
}
.founded-result--js:hover {
  background-color: var(--color-light-e-gray);
}
.founded-result--js a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}
.founded-result--js .found-img {
  width: 36px;
  border-radius: 50%;
}
.result-delete--btn {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: var(--transition-200ms);
}
.result-delete--btn:hover {
  background: var(--color-light-gray);
}
.result-delete--btn img {
  width: 10px;
}

/* * ********NAVBAR******** * */

#main-navbar {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8px;
  margin: 0 4.55rem 0 0;
}
.nav-item {
  width: 129.5px;
  height: 88%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.nav-item:hover {
  background-color: var(--color-light-e-gray);
}
.nav-item:nth-child(1) {
  height: 100%;
  border-radius: 3px;
  border-bottom: 3px solid var(--color-link-blue);
}
.nav-item:nth-child(1):hover {
  background: none;
}
.nav-item a {
  display: flex;
  justify-content: center;
  width: 100%;
}
.nav-item img {
  width: 24px;
} 
.popup-message {
  position: absolute;
  padding: 7px 14px;
  background-color: var(--color-3-black);
  color: var(--off-white-e1);
  font-size: 12px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-1);
  top: 112%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: .2px;
  display: none;
}
.popup-message.show {
  display: block;
}

/* * ********HEADER MENUS SECTION******** * */
.header-menus--section {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
  position: relative;
}
.header-menus--item {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-light-gray);
  transition: var(--transition-300ms);
}
.header-menus--item:hover {
  background-color: var(--color-sE-gray);
}
.header-menu.active {
  background-color: #DFE9F2;
}
.header-menus--item:nth-child(4) img {
  width: 100%;
  border-radius: 50%;
}
.header-menus--item img {
  width: 20px;
}
.header-menus--item .arrow-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-gray);
  border: 2px solid #fff;
}
.header-menus--item .arrow-icon img {
  width: 8px;
}

/* * ********HEADER HIDDEN MENUS******** * */

/* * ********HEADER MENU******** * */
.header-menu--section {
  width: 608px;
  height: 0;
  position: absolute;
  top: 93%;
  right: .5%;
  box-shadow: var(--box-shadow-2);
  border-radius: 8px;
  background-color: var(--color-off-white);
  overflow: hidden;
  transition: var(--transition-200ms);
}
.header-menu--section.active {
  height: 90vh;
}
.header-menu--section .inner-container {
  padding: 10px 16px 0 16px;
  height: 100%;
  width: 100%;
  overflow: visible;
}
.header-menu--section .heading {
  font-size: 24px;
  margin: 0 0 10px;
}
.header-menu--section .inner-container .sections {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.header-menu--section .right-section {
  flex-basis: 35%;
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  right: 0;
  height: fit-content;
  box-shadow: 4px 5px 20px rgba(14, 30, 37, 0.2);
  border-radius: 8px;
  padding: 10px 8px;
}
.header-menu--section .right-section h4 {
  font-size: 20px;
  letter-spacing: .3px;
  padding: 2px 8px;
}
.menu-items_1--container {
  padding: 0 0 10px;
  border-bottom: 1px solid var(--color-sE-gray);
  margin: 4px 0 8px;
}
.header-menu--item--js {
  padding: 8px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: var(--transition-300ms);
  cursor: pointer;
}
.header-menu--item--js:hover {
  background-color: var(--color-light-e-gray);
}
.header-menu--item--js h5 {
  font-size: 15px;
  letter-spacing: .2px;
}
.header-menu--item--js .img-container {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--color-d7-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu--item--js .img-container img {
  width: 20px;
}
/* left Hand */
.header-menu--section .left-section {
  background-color: var(--color-white);
  flex-basis: 63%;
  height: 100%;
  box-shadow: 4px 5px 20px rgba(14, 30, 37, 0.2);
  border-radius: 8px;
  padding: 16px;
}
.menu-search--container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  background-color: var(--color-light-e-gray);
  border-radius: 30px;
  padding: 0 10px;
}
.menu-search--container .menu-search--icon {
  width: 20px;
}
#menu-search--input {
  padding: 7px 6px 9px;
  height: 100%;
  background: var(--color-trans);
  font-size: 16px;
}