/* * ********Connect To Google Fonts******** * */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* * ********ROOT ELEMENT******** * */
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-2-black: #222;
  --color-4-gray: #465b52;
  --color-off-white: #E3E6F2;
  --color-1a-black: #1a1a1a;
  --color-08-green: #088178;
  --color-c-white: #cce7d0;
  --color-fd-white: #fddde4;
  --color-cd-green: #cdebbc;
  --color-d1: #d1e8f2;
  --color-cdd: #cdd4f8;
  --color-f6: #f6dbf6;
  --color-fff2e5: #fff2e5;
  --color-f6-gray: #606063;
  --color-243-yellow: rgb(243, 181, 25);
  --color-e8-white: #e8f6aa;
  --color-ef-red: #ef3636;
  --transparent: transparent;


  --transition-300ms: all 300ms ease;


  --box-shadow-1: 0 5px 15px rgba(0, 0, 0, .06);
  --box-shadow-2: 20px 20px 34px rgba(0, 0, 0, .03);
  --box-shadow-3: 10px 10px 54px rgba(0, 0, 0, .01);
  --box-shadow-4: 20px 20px 30px rgba(0, 0, 0, .02);
  --box-shadow-4-hover: 20px 20px 30px rgba(0, 0, 0, .06);
} 

/* * ********Reset Default Styles******** * */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
dl,
li { list-style-type: none; }

h1 {
  font-size: 50px;
  line-height: 64px;
  color: var(--color-2-black);
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: var(--color-2-black);
}

h4 {
  font-size: 20px;
  color: var(--color-2-black);
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: var(--color-4-gray);
  margin: 15px 0 20px 0;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

button { cursor: pointer; }

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video {
  width: 100%;
  object-fit: cover;
  display: block;
}

html {
  font-size: 10px;
  font-family: "League Spartan", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  line-height: 1.7;
}

/* * ********PRE BUILD CLASSES******** * */
.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: var(--color-black);
  background: var(--color-white);
  border-radius: 4px;
  transition: var(--transition-300ms);
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: var(--color-white);
  background: var(--transparent);
  border-radius: 4px;
  border: 1px solid var(--color-white);
  transition: var(--transition-300ms);
}

/* * ********HEADER START HERE******** * */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: var(--color-off-white);
  box-shadow: var(--box-shadow-1);
  z-index: 990;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  padding: 0 20px;
  position: relative;
  transition: var(--transition-300ms);
}
#navbar li a {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-1a-black);
  transition: var(--transition-300ms);
  transition: var(--transition-300ms);
}
#navbar li a:hover,
#navbar li a.active {
  color: var(--color-08-green);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--color-08-green);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* * ********HERO SECTION******** * */
#hero {
  background: url("../assets/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  padding: 0 0 15px;
}
#hero h1 {
  color: var(--color-08-green);
}
#hero button {
  background: url("../assets/button.png");
  background-color: transparent;
  color: var(--color-08-green);
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 15px;
}

/* * ********FEATURE ICON SECTION******** * */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: var(--box-shadow-2);
  border: 1px solid var(--color-c-white);
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: var(--box-shadow-3);
}
#feature .fe-box img {
  margin: 0 0 10px;
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: var(--color-08-green);
  background: var(--color-fd-white);
}
#feature .fe-box:nth-child(2) h6 {
  background: var(--color-cd-green);
}
#feature .fe-box:nth-child(3) h6 {
  background: var(--color-d1);
}
#feature .fe-box:nth-child(4) h6 {
  background: var(--color-cdd);
}
#feature .fe-box:nth-child(5) h6 {
  background: var(--color-f6);
}
#feature .fe-box:nth-child(6) h6 {
  background: var(--color-fff2e5);
}

/* * ********FEATURED PRODUCTS SECTION******** * */
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 20px 12px;
  border: 1px solid var(--color-c-white);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: var(--box-shadow-4);
  margin: 15px 0;
  transition: var(--transition-300ms);
  position: relative;
}
#product1 .pro:hover {
  box-shadow: var(--box-shadow-4-hover);
}
#product1 .pro img {
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: var(--color-f6-gray);
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding: 7px 0 0;
  color: var(--color-1a-black);
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: var(--color-243-yellow);
}
#product1 .pro .des h4 {
  padding: 7px 0 0;
  font-size: 15px;
  font-weight: 700;
  color: var(--color-08-green);
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background: var(--color-e8-white);
  color: var(--color-08-green);
  border: 1px solid #cce7d0;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* * ********LARGE BANNER 1******** * */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../assets/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: var(--color-white);
  font-size: 16px;
}
#banner h2 {
  color: var(--color-white);
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: var(--color-ef-red);
}
#banner button:hover {
  background: var(--color-08-green);
}

/* * ********SMALL BANNER 1******** * */
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url("../assets/banner/b17.jpg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box2 {
  background: url("../assets/banner/b10.jpg");
  background-size: cover;
  background-position: center;
}
#sm-banner h4 {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2 {
  color: var(--color-white);
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  padding: 0 0 15px;
}
#sm-banner .banner-box:hover  button {
  background: var(--color-08-green);
  border: 1px solid var(--color-08-green);
}

/* * ********SMALL BANNERS 2******** * */
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url("../assets/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin: 0 0 20px;
}
#banner3 .banner-box2 {
  background: url("../assets/banner/b4.jpg");
  background-size: cover;
  background-position: left;
}
#banner3 .banner-box3 {
  background: url("../assets/banner/b18.jpg");
  background-size: cover;
  background-position: left;
}
#banner3 .banner-box h2 {
  color: var(--color-white);
  font-weight: 900;
  font-size: 22px;
}
#banner3 .banner-box h3 {
  color: var(--color-ef-red);
  font-weight: 800;
  font-size: 15px;
}