@media ( max-width: 1440px ) {
  :root { 
    --page-max-width: 1200px;
  }
  .upper-header--container {
    height: 3.6rem;
  }
  .address-one--container i {
    font-size: 1.8rem;
  }
  .upper-header--icon {
    height: 28px;
    width: 28px;
    font-size: 1.4rem;
  }
  .address-container {
    font-size: 1.3rem;
  }
  .logo {
    font-size: 45px;
    letter-spacing: 4px;
  }
  .nav-items--container {
    font-size: 1.3rem;
  }
  .visit-btn {
    padding: 0rem 1.3rem 0rem 0;
    font-size: 1.2rem;
  }
  .main-header--container {
    padding: 1.2rem 0;
  }
  .hero-section {
    position: relative;
    margin: 11rem 0 0 0;
    height: 550px;
  }
  .banner-headings--container {
    left: 10%;
    top: 50%;
    width: 32%;
  }
  .hero-banner img {
    height: 550px;
  }
  .sub-heading {
    padding: .5rem 1rem;
    font-size: 1.6rem;
    margin: 0 0 1.2rem 0;
  }
  .main-header {
    font-size: 5.5rem;
  }
  .arrow-btn {
    font-size: 3rem;
  }
  .feature-section {
    margin: 6rem auto;
    padding: 2rem 8rem;
  }
  .feature-image--container {
    height: 450px;
  }
  .feature-image--container img {
    height: 450px;
  }
  .feature-img--icon {
    height: 80px;
    width: 80px;
  }
  .feature-img--icon img {
    height: 50px;
    width: 50px;
  }
  .feature-sub--heading {
    font-size: 1.3rem;
  }
  .feature-img--details_container .main-heading {
    font-size: 3.8rem;
  }
  .feature-img--details_container .main-heading {
    font-size: 4.5rem;
    margin: 0 0 2rem;
    width: 300px; 
  }
  .feature-more--details .heading {
    font-size: 1.4rem;
    padding: 0 0 1.2rem;
  }
  .questions-link--container {
    width: 350px;
  }
  .img-details--container {
    gap: 2rem;
  }
  .feature-img--details_container {
    width: 350px;
  }
  .icon-detail--container {
    gap: 1.7rem;
    padding: 0rem 1rem 2rem;
  }
  .icon-detail--container img {
    width: 50px;
  }
  .icon-detail--container h3 {
    font-size: 1.7rem;
  }
  .icon-detail--container p {
    font-size: 1.3rem;
  }
  .video-section--background {
    height: 400px;
  }
  .video-section--background .items-container {
    top: 25%;
    left: 50%;
  }
  .items-container .sub {
    font-size: 1.4rem;
    margin: 1.7rem auto;
  } 
  .items-container .main {
    font-size: 3.5rem;
    margin: 0 0 3rem 0;
  }
  .bottom-icons h3 {
    font-size: 3.5rem;
  }
  .bottom-icons p {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4;
  }
  .bottom_container-icons {
    margin: 7rem 0 0 0;
  }
  .bottom_container-icons span {
    height: 40px;
    width: 40px;
  }
  .video-section {
    width: 100%;
    height:750px;
  }
  .best-deal--section {
    width: 950px;
  }
  .best-sub--heading {
    padding: .2rem 1rem;
    font-size: 1.6rem;
    margin: 0 0 .8rem 0;
  }
  .best-main--heading {
    font-size: 3.5rem;
    width: 350px;
  }
  .best-section--btn {
    padding: .7rem 1.4rem;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  .best-details--container {
    gap: 3rem;
    margin: 3rem 0 0 0;
  }
  .best-details {
    padding: 3rem 1.2rem 3.6rem;
    border-radius: 6px;
  }
  .best-details-row h4 {
    font-size: 1.4rem;
  }
  .info-heading {
    font-size: 1.6rem;
  }
  .info {
    margin: 1.2rem 0;
    font-size: 1.2rem;
  }
  .schedule {
    font-size: 1.1rem;
    margin: 3rem auto 0;
  }
  .properties-section {
    margin: 9rem auto 40rem;
    width: 1000px; 
  }
  .title-section {
    margin: 0 0 4rem;
  }
  .title-section h4 {
    font-size: 1.3rem;
    margin: 0 auto 1.2rem;
  }
  .title-section h2 {
    font-size: 3.4rem;
    width: 400px;
  }
  .properties-container {
    gap: 2.5rem;
    padding: 1.5rem;
  }
  .property-container {
    padding: 1.5rem;
  }
  .type-price {
    margin: 1rem 0 2.7rem;
  }
  .type-price .type {
    font-size: 1.1rem;
  }
  .type-price .price {
    font-size: 1.4rem;
  }
  .title {
    font-size: 1.6rem;
    margin: 0 0 1.8rem;
  }
  .details-container {
    margin: 0 0 5rem 0;
  }
  .details-container .detail p {
    font-size: 1.1rem;
  }
  .details-container .detail h4 {
    font-size: 1.3rem;
  }
  .schedule-btn {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 1280px) {
  :root {
    --page-max-width: 1000px;
  }
  .dot {
    height: 15px;
    width: 15px;
  }
  .upper-header--container {
    height: 2.5rem;
  }
  .address-container {
    gap: 2.5rem;
    font-size: 1.1rem;
    padding: .5rem 1rem;
  }
  .address-one--container i {
    font-size: 1.5rem;
  }
  .upper-header--icon {
    height: 20px;
    width: 20px;
    font-size: 1rem;
  }
  .main-header--container {
    padding: 1rem 0;
  }
  .logo {
    font-size: 35px;
  }
  .nav-items--container {
    font-size: 1.1rem;
  }
  .visit-btn {
    padding: 0rem 1rem 0rem 0;
    font-size: 1rem;
  }
  .visit-btn span {
    border-radius: 50%;
    height: 25px;
    width: 25px;
  }
  .hero-section {
    margin: 9rem 0 0 0;
    height: 350px;
  }
  .hero-banner img {
    height: 350px;
  }
  .sub-heading {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    margin: 0 0 .7rem 0;
  }
  .main-header {
    font-size: 4.3rem;
  }
  .arrow-btn {
    font-size: 2rem;
    border-radius: 6px;
    padding: 5px 10px;
  }
  .feature-section {
    margin: 5rem auto;
    padding: 1rem 5rem;
  }
  .feature-image--container {
    position: relative;
    height: 350px;
    box-shadow: var(--box-shadow-1);
  }
  .feature-image--container img {
    height: 350px;
    width: 300px;
  }
  .feature-img--icon {
    height: 60px;
    width: 60px;
  }
  .feature-img--icon img {
    height: 40px;
    width: 40px;
  }
  .feature-sub--heading {
    border-left: 2px solid var(--header-icon);
    padding: 0 7px;
    font-size: 1.2rem;
    margin: 0 0 .6rem;
  }
  .feature-img--details_container .main-heading {
    font-size: 3.5rem;
    margin: 0 0 1.2rem;
    width: 250px; 
  }
  .feature-more--details {
    margin: 0 0 .5rem;
  }
  .feature-more--details .heading {
    font-size: 1.2rem;
    margin: 0 0 .5rem;
    padding: 0 0 1rem;
  }
  .feature-more--details .details {
    font-size: 1rem;
  }
  .questions-link--container {
    padding: 1rem .5rem;
    width: 250px;
  }
  .feature-img--details_container {
    width: 300px;
  }
  .feature-icons--container {
    padding: 1rem;
  }
  .icon-detail--container img {
    width: 40px;
  }
  .icon-detail--container h3 {
    font-size: 1.5rem;
    margin: 0 0 .5rem;
  }
  .icon-detail--container p {
    font-size: 1.1rem;
  }
  .icon-detail--container {
    gap: 1.2rem;
    padding: 0rem 1rem 2rem;
    margin: 0 0 2rem;
  }
  .video-section {
    width: 100%;
    height: 530px;
  }
  .video-section--background {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .video-section--background .items-container {
    top: 20%;
    width: 60%;
  }
  .items-container .sub {
    font-size: 1.2rem;
    border-left: 2px solid var(--light-pink);
    margin: 1rem auto;
  }
  .items-container .main {
    font-size: 2.5rem;
    margin: 0 0 2.4rem 0;
  } 
  .video-icon {
    height: 50px;
    width: 50px;
  }
  .video-icon .inner-span {
    font-size: 1.5rem;
  }
  .bottom_container-icons {
    margin: 5rem 0 0 0;
  }
  .bottom-icons {
    padding: 1rem 1.5rem;
    gap: 1rem;
  }
  .bottom-icons h3 {
    font-size: 2.5rem;
  }
  .bottom-icons p {
    font-size: 1.1rem;
    line-height: 1.2;
  }
  .bottom_container-icons span {
    height: 30px;
    width: 30px;
  }
  .best-deal--section {
    margin: 0 auto;
    width: 800px;
  }
  .best-sub--heading {
    padding: .1rem .5rem;
    font-size: 1.2rem;
    margin: 0 0 .5rem 0;
  }
  .best-main--heading {
    font-size: 2.5rem;
    width: 300px;
    line-height: 1.2;
  }
  .best-section--btn {
    padding: .5rem 1rem;
    font-size: 1.1rem;
  }
  .best-details--container {
    gap: 2.5rem;
    margin: 3rem 0 0 0;
  }
  .best-details {
    padding: 1.5rem 1rem 2.5rem;
  }
  .best-details-row p {
    font-size: .9rem;
  }
  .best-details-row h4 {
    font-size: 1.1rem;
  }
  .info-heading {
    font-size: 1.3rem;
  }
  .info {
    margin: 1rem 0;
    font-size: 1rem;
  }
  .schedule {
    gap: .6rem;
    padding: 0rem 1rem 0rem 0rem;
    font-size: 1rem;
    margin: 2.5rem auto 0;
  }
  .icon {
    height: 2.5rem;
    width: 2.5rem;
  }
  .properties-section {
    margin: 5rem auto 40rem;
    width: 800px; 
  }
  .title-section h4 {
    padding: .1rem .4rem;
    border-left: 2px solid var(--header-icon);
    font-size: 1.2rem;
    margin: 0 auto 1rem;
  }
  .title-section h2 {
    font-size: 2.5rem;
    width: 350px;
  }
  .title-section {
    width: 100%;
    text-align: center;
    margin: 0 0 2.4rem;
  }
  .properties-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1.2rem;
  }
  .property-container {
    padding: .6rem;
  }
  .property-container:hover {
    box-shadow: var(--box-shadow-2);
    transform: scale(1.02);
  }
  .img-container img {
    border-radius: 5px;
    width: 100%;
    height: 15rem;
  }
  .type-price {
    margin: .5rem 0 1.5rem;
  }
  .type-price .type {
    padding: .2rem .5rem;
    font-size: 1rem;
  }
  .type-price .price {
    font-size: 1.3rem;
  }
  .title {
    font-size: 1.4rem;
    margin: 0 0 1rem;
  }
  .details-container {
    gap: .3rem .8rem;
    padding: 0 0 2rem;
  }
  .details-container .detail p {
    font-size: 1rem;
    font-weight: 600;
  }
  .details-container .detail h4 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .schedule-btn {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    width: 60%;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  :root {
    --page-max-width: 90%;
  }
  .upper-header--container {
    height: 2.4rem;
  }
  .address-container {
    gap: 1rem;
    font-size: 1rem;
    padding: .4rem .8rem;
  }
  .address-one--container i {
    font-size: 1.2rem;
  }
  .upper-header--icon {
    height: 20px;
    width: 20px;
    font-size: 1rem;
  }
  .main-header--container {
    padding: .8rem 0;
  }
  .logo {
    font-size: 25px;
    letter-spacing: 3px;
  }
  .nav-items--container {
    font-size: .9rem;
    width: 65%;
  }
  .visit-btn span {
    height: 20px;
    width: 20px;
  }
  .visit-btn {
    padding: 0rem 1rem 0rem 0rem;
    font-size: .8rem;
    gap: .5rem;
  }
  .hero-section {
    position: relative;
    margin: 7.1rem 0 0 0;
    width: 100%;
    height: 300px;
  }
  .hero-banner img {
    height: 300px;
  }
  .sub-heading {
    padding: .5rem 1rem;
    font-size: 1rem;
    margin: 0 0 .7rem 0;
  }
  .main-header {
    font-size: 3rem;
    color: var(--white);
    text-transform: uppercase;
  }
  .arrow-btn {
    font-size: 1.5rem;
    border-radius: 6px;
    padding: 3px 6px;
  }
  .feature-section {
    margin: 3rem auto;
    padding: 1rem 2rem;
  }
  .feature-image--container {
    height: 300px;
  }
  .feature-image--container img {
    height: 300px;
    width: 200px;
  }
  .feature-img--icon {
    height: 40px;
    width: 40px;
    border: 1px solid transparent;
  }
  .feature-img--icon:hover {
    border: 1px solid var(--white);
  }
  .feature-img--icon img {
    height: 25px;
    width: 25px;
  }
  .img-details--container {
    gap: 1rem;
  }
  .feature-sub--heading {
    border-left: 1px solid var(--header-icon);
    padding: 0 5px;
    font-size: .9rem;
  }
  .feature-img--details_container .main-heading {
    font-size: 2.3rem;
    margin: 0 0 1rem;
    width: 200px;
  }
  .feature-more--details .heading {
    font-size: 1rem;
    margin: 0 0 .2rem;
    padding: 0 0 .8rem;
  }
  .feature-more--details .details {
    font-size: .9rem;
  }
  .questions-link--container {
    width: 180px;
  }
  .feature-img--details_container {
    width: 220px;
  }
  .feature-icons--container {
    padding: 1rem .5rem;
  }
  .icon-detail--container {
    gap: 1rem;
    padding: 0rem .7rem 1.5rem;
    margin: 0 0 1.5rem;
  }
  .icon-detail--container img {
    width: 30px;
  }
  .icon-detail--container h3 {
    font-size: 1.2rem;
    margin: 0 0 .3rem;
  }
  .icon-detail--container p {
    font-size: 1rem;
  }
  .video-section {
    width: 100%;
    height: 400px;
  }
  .video-section--background {
    height: 220px;
  }
  .items-container .sub {
    font-size: 1.1rem;
    padding: 0 0 0 .5rem;
    border-left: 2px solid var(--light-pink);
    margin: .6rem auto;
  } 
  .items-container .main {
    font-size: 2.2rem;
    margin: 0 0 2rem 0;
  }
  .video-icon {
    height: 40px;
    width: 40px;
  }
  .video-icon .inner-span {
    font-size: 1rem;
  }
  .bottom_container-icons {
    margin: 3rem 0 0 0;
  }
  .bottom-icons h3 {
    font-size: 2rem;
  }
  .bottom_container-icons span {
    height: 20px;
    width: 20px;
  }
  .bottom-icons p {
    font-size: 1rem;
  }
  .bottom-icons {
    padding: 1rem 1rem;
    display: flex;
    gap: .5rem;
  }
  .best-deal--section {
    margin: 2rem auto;
    width: 700px;
  }
  .best-sub--heading {
    padding: .1rem .5rem;
    border-left: 2px solid var(--header-icon);
    font-size: 1.1rem;
    margin: 0 0 .5rem 0;
  }
  .best-main--heading {
    font-size: 2rem;
    width: 300px;
  }
  .best-section--btn {
    padding: .4rem .8rem;
    font-size: 1.1rem;
    border: 1px solid var(--light-black-text);
  }
  .best-details--container {
    gap: 2rem;
    margin: 3rem 0 0 0;
  }
  .best-details {
    padding: 2rem 1rem 1rem;
  }
  .best-details-row p {
    font-size: .8rem;
  }
  .best-details-row h4 {
    font-size: 1rem;
  }
  .info-heading {
    font-size: 1rem;
  }
  .info {
    margin: .9rem 0;
    font-size: .85rem;
  }
  .schedule {
    gap: .5rem;
    padding: 0rem 1.5rem 0rem 0rem;
    font-size: .9rem;
    margin: 2rem auto 0;
  }
  .arrow-btns--container button {
    font-size: 1.4rem;
    padding: .5rem 1.5rem;
  }
  .properties-section {
    margin: 5rem auto 40rem;
    width: 700px; 
  }
  .title-section h4 {
    border-left: 2px solid var(--header-icon);
    font-size: 1.1rem;
    margin: 0 auto .8rem;
  }
  .title-section h2 {
    font-size: 2rem;
    width: 300px;
    margin: 0 auto;
  }
  .title-section {
    margin: 0 0 1rem;
  }
  .properties-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: .8rem;
  }
  .property-container {
    padding: .3rem;
  }
  .property-container:hover {
    box-shadow: var(--box-shadow-2);
    transform: scale(1.02);
  }
  .img-container img {
    border-radius: 5px;
    width: 100%;
    height: 12rem;
  }
  .type-price {
    margin: .3rem 0 .9rem;
  }
  .type-price .type {
    padding: .1rem .3rem;
    font-size: .8rem;
  }
  .type-price .price {
    font-size: 1rem;
  }
  .title {
    font-size: 1.2rem;
    margin: 0 0 .6rem;
  }
  .details-container {
    gap: .1rem .5rem;
    padding: 0 0 1rem;
  }
  .details-container .detail p {
    font-size: .8rem;
    font-weight: 600;
  }
  .details-container .detail h4 {
    font-size: .9rem;
    font-weight: 600;
  }
  .schedule-btn {
    padding: .5rem 1rem;
    font-size: .9rem;
    width: 60%;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  :root {
    --page-max-width: 90%;
  }
  .upper-header--icon {
    display: none;
  }
  .address-container {
    gap: .6rem;
  }
  .address-one--container i {
    font-size: 1rem;
    color: var(--header-icon);
  }
  .address-one--container {
    gap: .3rem;
    padding: .1rem 1rem;
  }
  #small-nav {
    display: block;
    font-size: 1.6rem;
  }
  .main-header--container {
    padding: .5rem 0;
  }
  .logo {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .nav-items--container {
    display: none;
  }
  .upper-header--container {
    height: 1.8rem;
  }
  .hero-section {
    margin: 5.6rem 0 0 0;
    height: 200px;
  }
  .hero-banner img {
    height: 200px;
  }
  .sub-heading {
    padding: .2rem .4rem;
    font-size: .8rem;
    margin: 0 0 .5rem 0;
  }
  .main-header {
    font-size: 2rem;
  }
  .feature-section {
    margin: 3rem auto;
    padding: .5rem .5rem;
    flex-direction: column;
  }
  .feature-image--container {
    margin: 0 0 2rem 0;
  }
  .feature-icons--container {
    display: none;
  }
  .video-section {
    height: 270px;
  }
  .video-section--background {
    height: 200px;
  }
  .bottom_container-icons {
    display: none;
  }
  .best-deal--section {
    display: none;
  }
  .properties-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: .5rem;
  }
}
@media (max-width: 480px) {
  :root {
    --page-max-width: 98%;
  }
  .address-container {
    font-size: .7rem;
  }
  .address-one--container i {
    font-size: 1rem;
  }
  .upper-header--container {
    height: 1.2rem;
  }
  .logo {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .hero-section {
    margin: 5rem 0 0;
    height: 150px;
  }
  .hero-banner img {
    height: 150px;
  }
  .sub-heading {
    padding: .3rem .6rem;
    font-size: .6rem;
  }
  .main-header {
    font-size: 1.3rem;
  }
  .arrow-btn {
    font-size: 1rem;
    padding: 3px 6px;
  }
  .feature-section {
    padding: .5rem 1rem;
    margin: 2rem 0 0 0;
  }
  .feature-image--container {
    height: 160px;
    width: 120px;
  }
  .feature-image--container img {
    height: 160px;
    width: 120px;
  }
  .feature-img--icon {
    height: 15px;
    width: 15px;
  }
  .feature-img--icon img {
    width: 7px;
  }
  .feature-img--details_container {
    width: 150px;
  }
  .feature-sub--heading {
    font-size: .6rem;
    margin: 0 0 .4rem;
  }
  .questions-link--container {
    width: 130px;
  }
  .feature-more--details .heading {
    font-size: .7rem;
  }
  .feature-img--details_container .main-heading {
    font-size: 1rem;
    width: 100px;
    margin: 0 0 1rem;
  }
  .feature-more--details .details {
    font-size: .5rem;
  }
  .feature-more--details .details.active {
    height: 3rem;
  }
  .video-section {
    height: 180px;
  }
  .video-section--background {
    height: 120px;
  }
  .items-container .sub {
    font-size: .7rem;
    border-left: 2px solid var(--light-pink);
  }
  .items-container .main {
    font-size: 1.3rem;
    margin: 0 0 1rem;
  }
  .title-section h4 {
    font-size: .7rem;
    border-left: 2px solid var(--header-icon);
  }
  .title-section h2 {
    font-size: 1.5rem;
    width: 250px;
  }
  .properties-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .properties-container {
    padding: .2rem;
  }
  .property-container {
    padding: .1rem;
  }
  .property-container:hover {
    box-shadow: var(--box-shadow-2);
    transform: scale(1.01);
  }
  .img-container img {
    border-radius: 5px;
    width: 100%;
    height: 9rem;
  }
  .type-price {
    margin: .5rem 0 .4rem;
  }
  .type-price .type {
    padding: .1rem .3rem;
    font-size: .6rem;
  }
  .type-price .price {
    font-size: .8rem;
  }
  .title {
    font-size: .8rem;
    margin: 0 0 .6rem;
  }
  .details-container {
    gap: .05rem .3rem;
    padding: 0 0 1rem;
  }
  .details-container .detail p {
    font-size: .6rem;
    font-weight: 600;
  }
  .details-container .detail h4 {
    font-size: .7rem;
    font-weight: 600;
  }
  .schedule-btn {
    padding: .2rem .6rem;
    font-size: .7rem;
    width: 60%;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer {
    font-size: 10px;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
  }
   
}