*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
dl,
li { list-style-type: none;}

h1,
h2,
h3,
h4,
h5,
h6 { 
  line-height: 1.2;
}

input,
button,
textarea {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

button { cursor: pointer; }

a {
  text-decoration: none;
  color: inherit;
}

